.contact-section {
  margin: 50px auto;
}
.contact-section-h1 {
  font-family: var(--heading-font-family);
  font-size: 46px;
  font-weight: 600;
}
.contact-h2 {
  font-family: var(--heading-font-family);
  font-size: 28px;
  font-weight: 600;
}
.contact {
  font-size: 22px;
  font-weight: 600;
  line-height: 35px;
}
@media (max-width: 768px) {
  .contact-section {
    margin: 50px auto;
  }

  .contact-section-h1 {
    font-size: 30px;
  }
  .contact-h2 {
    font-size: 22px;
  }
  .contact {
    font-size: 16px;
  }
}
