.contact-box {
  background: var(--background-color);
  padding: 30px 100px;
  border-radius: 10px;
  margin: 0 200px;
}

.footer-h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 44px;
}
.footer-btn-contact-me {
  margin: 40px 0;
  background: var(--branding-color);
  color: var(--second-text-color);
  line-height: 10px;
  font-size: 20px;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  padding: 20px;
}
.footer-btn-contact-me:hover {
  background: var(--branding-color);
  color: var(--second-text-color);
  line-height: 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 7px;
}

.contact-footer {
  font-size: 22px;
  font-weight: 500;
  color: var(--main-text-color);
  transition: all 200ms ease-in-out;
}
.contact-footer:hover {
  color: var(--branding-color);
}
.social-media-link {
  width: 40px;
  transition: all 200ms ease-in-out;
  border-radius: 8px;
}
.social-media-link:hover {
  color: var(--branding-color);
  background: none;
}

@media (max-width: 1480px) {
  .contact-box {
    margin: 0;
    padding: 20px 80px;
  }
}

@media (max-width: 1100px) {
  .contact-box {
    margin: 0;
    padding: 10px 60px;
  }
  .footer-p {
    font-size: 18px;
  }
  .social-media-link {
    width: 30px;
  }
  .contact-footer {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .contact-box {
    padding: 20px;
  }
  .footer-h1 {
    font-size: 32px;
  }
  .footer-p {
    font-size: 10px;
  }
  .footer-btn-contact-me {
    font-size: 14px;
    padding: 10px 20px;
    margin: 0;
  }
  .footer-btn-contact-me:hover {
    font-size: 14px;
  }
  .contact-footer {
    font-size: 14px;
  }
  .social-media-link {
    width: 20px;
  }
}
