:root {
  --branding-color: rgb(3, 211, 208);
  --main-text-color: rgb(44, 44, 50);
  --second-text-color: rgb(255, 255, 255);
  --background-color: rgb(237, 252, 251);
  --shecodes-color: rgb(136, 93, 241);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Catamaran", sans-serif;
}

.hero {
  font-family: var(--default-font-family);
  color: var(--main-text-color);
  background: var(--background-color);
  text-align: center;
  padding: 100px 10px;
}
.hero h5 {
  font-family: var(--heading-font-family);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 112px;
  margin-bottom: 20px;
}
.hero h3 {
  font-size: 28px;
  font-weight: 600;
}
.ua {
  width: 30px;
}

.btn-branding {
  background: var(--branding-color);
  color: var(--second-text-color);
  line-height: 24px;
  font-size: 20px;
  border: 0;
  border-radius: 6px;
  padding: 10px 20px;
  margin: 10px;
}
.btn-branding:hover {
  color: var(--branding-color);
  background: var(--second-text-color);
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid var(--branding-color);
  transition: all 200ms ease-in-out;
}
